<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ButcherLabels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ButcherLabels.Properties.Settings>
            <setting name="ServerQNS" serializeAs="String">
                <value>10.3.1.7</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Production</value>
            </setting>
            <setting name="DatabaseSI" serializeAs="String">
                <value>SI</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>siuser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>si</value>
            </setting>
            <setting name="UserSI" serializeAs="String">
                <value>siuser</value>
            </setting>
            <setting name="PasswordSI" serializeAs="String">
                <value>si</value>
            </setting>
            <setting name="Factory" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AppDbServer" serializeAs="String">
                <value>10.3.1.7</value>
            </setting>
        </ButcherLabels.Properties.Settings>
    </userSettings>
</configuration>